body{
	font-family: 'Domine', serif;
	background-color:#A0A0A0;
}

.navbar-inner{
	background-color:#CFCFCF;
		
}

nav img {
	float:left;
	height:25px;
	margin-bottom: 5px;
	margin-top:-5px;
	margin-right:5px;
}
li.dropdown{
	margin-top:0px;
	margin-bottom: 0px;
}



#wrapper {
	width:900px;
	margin:0px auto;
	padding:10px;
	background:#CFCFCF;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
}
#content{
	width:900px;
	margin:0px auto;
	background:#fff;
	background:#CFCFCF;
	
}


div.post{
	border: 1px solid #000;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	padding: 0px 10px 0px 5px;
	margin: 0px 0px 30px 0px;
}
div.remaining{
	padding: 5px 0px 5px 0px;
}


.form-horizontal .controls {
	margin-left:100px;
	
}

.form-horizontal .control-label {
	width:80px;
}
.footer{
	text-align:center; 	
}